/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
a{
	color: inherit;
}
nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	line-height: 1;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{
    cursor: pointer;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{
	/* vertical-align: top; */
	max-width: 100%;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*---------обнуление-----------*/



/* Переменные */
:root{
    /* color */
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);

    /* border */
    --radius:0.5rem;
}



body{
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    font-size: 18px;
    background-color:var(--Almost-White);
}

.container__big{
    max-width: 1460px;
    padding: 30px;
    margin: 0 auto;
}
.container__small{
    max-width: 1160px;
    padding: 10px;
    margin: 0 auto;
}




.header {
  display: grid;
  grid-template-columns: 180px 1fr 180px;
  justify-content:space-between;
  align-items: center;
  color: var(--Medium-Gray);
  position: relative;
}


.menu{
    display: flex;
}
.menu__list{
    margin-right: 20px;
}

.features__nav {
  position: absolute;
  top:40px;
  left: 130px;
  width: 150px;
  background-color: #fff;
  padding: 10px;
  border-radius: var(--radius);
  box-shadow: 2px 2px 20px 2px rgb(222, 221, 221);
  line-height: 1.5;
  display: none;
}
.features__list:hover{
  color: var(--Almost-Black);
}

.company__nav {
  position: absolute;
  top:40px;
  left: 290px;
  width: 130px;
  background-color: #fff;
  padding: 10px;
  border-radius: var(--radius);
  box-shadow: 2px 2px 20px 2px rgb(222, 221, 221);
  line-height: 1.5;
  display: none;
}
.company__list:hover{
  color:var(--Almost-Black)
}
  

.registration__menu{
    display: flex;
    justify-content: space-evenly;
}

.register{
  border-radius: var(--radius);
  border: 1px solid var(--Almost-Black);
  padding: 10%;
}

.menu__list:hover, .registration__menu_list:hover{
  color:var(--Almost-Black);
}


 .main {
  display: flex;
  justify-content: space-around;
}

.main__content {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: space-between;
  padding-right: 50px;
  /* align-items: start; */
}
.title{
  font-size: 56px;
  font-weight: 700;
}
.text{
  color: var(--Medium-Gray);
}
.main__img {
  width: 40%;
}

.btn{
  width: 150px;
  height: 50px;
  background-color: rgb(1, 1, 1);
  color: white;
  border-radius: var(--radius);
}
.btn:hover{
  border: 1px solid var(--Almost-Black);
  background-color:var(--Almost-White);
  color: var(--Almost-Black);
}

.clients {
  display: flex;
  justify-content: space-around;
}
