/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
a{
	color: inherit;
}
nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	line-height: 1;
	/* font-size: 18px; */

}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{
    cursor: pointer;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{
	/* vertical-align: top; */
	max-width: 100%;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*---------обнуление-----------*/



/* Переменные */
:root{
    /* color */
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);

    /* border */
    --radius:0.5rem;
}



body{
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    font-size: 18px;
    background-color:var(--Almost-White);
}

.container__big{
    max-width: 1460px;
    padding: 30px;
    margin: 0 auto;
}
.container__small{
    max-width: 1160px;
    padding: 10px;
    margin: 0 auto;
}




.header {
  display: grid;
  grid-template-columns: 180px 1fr 180px;
  justify-content:space-between;
  align-items: center;
  color: var(--Medium-Gray);
}


.menu{
    display: flex;
}
.menu__list{
    margin-right: 20px;
}

.registration__menu{
    display: flex;
    justify-content: space-evenly;
}

.register{
  border-radius: var(--radius);
  border: 1px solid rgb(1, 1, 1);
  padding: 10%;
}








/* .main {
  display: flex;
  justify-content: space-around;
}
.main__content {
  width: 20%;
}
.main__img {
  width: 50%;
}

.clients {
  display: flex;
}

.client {
  margin: 0 2%;
} */
